body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
header nav ul {
    list-style-type: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin-right: 20px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.profile-img {
    margin-right: 20px;
}
.profile-img img {
    border-radius: 50%;
    max-width: 200px;
}
.bio {
    margin-top: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
